# Database Configuration (MySQL for Production / SQLite for Local)
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u170490412_sbastro
DB_USER=u170490412_sbastro
DB_PASS=1/bIsknev5

# Admin Credentials
ADMIN_USER=admin
ADMIN_PASS=admin123
